<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CyberShield Certificate Verification</title>
    <script src="https://cdn.jsdelivr.net/npm/web3/dist/web3.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="bg-grid"></div>

<div class="container">

    <header>
        <h1>CERTISHIELD</h1>
        <p>Blockchain Certificate Integrity System • Sepolia Test Network • Made with ❤️ By rustyprophet213</p>
    </header>

    <div class="card glow">
        <h2>🔐 Connect Metamask wallet</h2>
        <button class="btn-primary" onclick="connectWallet()">Connect MetaMask</button>
        <p id="wallet" class="wallet-status"></p>
    </div>

    <div class="card">
        <h2>📄 Register Certificate</h2>
        <input type="file" id="fileInput" accept="application/pdf">
        <button class="btn-success" onclick="addCertificate()">Hash & Register on Blockchain</button>
    </div>

    <div class="card">
        <h2>🛡 Verify Certificate</h2>
        <input type="file" id="verifyFileInput" accept="application/pdf">
        <button class="btn-warning" onclick="verifyCertificate()">Verify Authenticity</button>
        <p id="result" class="result"></p>
    </div>

    <div id="loader" class="loader hidden"></div>
    <div id="txSection" class="tx-section hidden">
    <p id="txHash"></p>
    <a id="etherscanLink" target="_blank">
        <button class="btn-primary">🔍 View on Block Explorer</button>
    </a>
</div>

</div>

<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
